<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVMObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41F435121D7EC49B00CA17EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41F4352B1D7EC49B00CA17EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41F435361D7EC49B00CA17EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
